button {
  padding: 8px 24px;
  border-style: solid;
  border-radius: 0px;
  border-color: var(--accent);
  background-color: transparent;
  color: var(--accent);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.1s, color 0.1s;
}

.b-big{
  padding: 12px 24px;
}

.b-accent-fill{
  border: none;
  background-color: var(--accent);
  color: var(--white);
}

.b-accent-fill:hover{
  background-color: var(--accent-hover);

}

.b-white-outl{
  border-color: var(--white);
  color: var(--white);
}

.b-white-outl:hover{
  background-color: var(--white);
  color: var(--purple);
}

.b-white-no-out{
  border: none;
  color: var(--white);
}
.b-white-no-out:hover{
  text-decoration: underline;
  background-color: transparent;
}

.b-purple-no-out{
  border: none;
  color: var(--purple);
  opacity: 0.7;
  transition: opacity 0.1s;
}
.b-purple-no-out:hover{
  text-decoration: underline;
  background-color: transparent;
  opacity: 1;
  color: var(--purple);
  transition: opacity 0.1s;
}



button:hover {
  background-color: var(--accent);
  color: var(--white);
}

.b-arrow-accent:hover{

  .arrow{
    background-image: url('/assest/icon-w.svg');
  }
}

.b-arrow-white:hover{

  .arrow{
    background-image: url('/assest/icon-w.svg');
  }
}

.arrow {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url('/assest/icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}


.arrow-white{
  transition: 0.1s;
  background-image: url('/assest/icon-w.svg');
}



.selector {
  margin-left: 10px;
  width: 12px;
  height: 8px;
  display: inline-block;
  background-image: url('/assest/selector.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.selector-w {
  display: inline-block;
  position: relative;
  height: 42px;
  width: 28px;
  background-image: url('/assest/index/selector-90def.svg');
  background-size: contain;
  background-repeat: no-repeat;
}


