button {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: solid;
  border-radius: 0px;
  border-color: var(--accent);
  background-color: transparent;
  color: var(--accent);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.1s, color 0.1s;
}

.b-white-outl{
  border-color: var(--white);
  color: var(--white);
}

.b-white-outl:hover{
  background-color: var(--white);
  color: var(--purple);
}

.b-white-no-out{
  border: none;
  color: var(--white);
}
.b-white-no-out:hover{
  text-decoration: underline;
  background-color: transparent;
}

button:hover {
  background-color: var(--accent);
  color: var(--white);

  .arrow {
    transition: 0.1s;
    background-image: url('/img/icon-w.svg');
  }
}

.arrow {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url('/img/icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.selector {
  margin-left: 10px;
  width: 12px;
  height: 8px;
  display: inline-block;
  background-image: url('/img/selector.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.selector-w {
  display: inline-block;
  position: relative;
  height: 42px;
  width: 28px;
  background-image: url('/img/index/selector-90def.svg');
  background-size: contain;
  background-repeat: no-repeat;
}


