/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1055px) {
  .page-nav-container > .page-header {
    padding-left: 40px;
    padding-right: 40px;

  }

  .container-aadS > .header-nav {
    visibility: hidden;

  }

  .container-kJgl > .arrow-button {
    display: none;
  }

  .ham-menu {
    display: inherit;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1055px) {
  .page-nav-container > .page-header {
    padding-left: 80px;
    padding-right: 80px;

  }

  .dropdown-content {
    left: 80px;
    right: 80px;

  }

  .container_ZSDA {
    width: 100%;
    margin-left: 24px;
    color: var(--purple);
  }

}

@media only screen and (max-width: 1320px) {
  .dropdown-content {
    height: 500px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page-nav-container > .page-header {
    padding-left: 160px;
    padding-right: 160px;

  }

  .dropdown-content {
    left: 160px;
    right: 160px;

  }
}
